@inherits LayoutComponentBase

<div class="q-layout">
    @Body
    <footer class="app-footer app-footer--q">
        <p class="app-disclaimer">Antro рассчитан на граждан РФ с регистрацией в Москве.</p>
    </footer>
</div>
